<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {{#is "home"}}
        <title>{{@blog.title}}</title>
    {{else}}
        <title>{{@blog.title}} | {{meta_title}}</title>
    {{/is}}

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i|Open+Sans:300,400,600,800">
    <link rel="stylesheet" type="text/css" href="{{asset "styles/styles.css"}}" />
    {{#is "tag, post, page"}}
        <link rel="stylesheet" type="text/css" href="{{asset "styles/screen.css"}}" />
    {{/is}}

    {{!-- Global site tag (gtag.js) - Google Analytics --}}
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-101892464-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-101892464-1');
    </script>

    {{#is "post"}}
        {{!-- Google Adsense Main Script --}}
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    {{/is}}
    
    {{ghost_head}}
</head>
<body class="{{body_class}}">

    {{{body}}}
    {{> "footer"}}


    {{!-- Discoverer Bundle --}}
    <script type="text/javascript" src="{{asset "js/bundle.js"}}"></script>

    {{!-- jQuery + Fitvids, which makes all video embeds responsive --}}
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>

    {{#if pagination.pages}}
    <script>
        var maxPages = parseInt('{{pagination.pages}}');
    </script>
    <script src="{{asset "js/infinitescroll.js"}}"></script>
    {{/if}}

    {{!-- The #block helper will pull in data from the #contentFor other template files. In this case, there's some JavaScript which we only want to use in post.hbs, but it needs to be included down here, after jQuery has already loaded. --}}
    {{{block "scripts"}}}

    {{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
    {{ghost_foot}}

    {{#is "post"}}
        {{!-- Google Adsense Push Script --}}
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    {{/is}}
</body>
</html>
