{{!< default}}

<section class="container container--wide home">
  <header class="header home__header">
    <h1 class="logo logo--large header__logo">
      {{@blog.title}}
    </h1>
    <p class="header__tagline">
      {{@blog.description}}
    </p>
  </header>
  <main class="home__main">
    {{#get "posts" filter="featured:true" limit="1" as |featured|}}
    {{#foreach featured}}
      <div class="container home__featured">
        <div class="stripe">
          <h3 class="stripe__date">{{date format="MMMM D, YYYY"}}</h3>
        </div>
        <h1 class="home__featured-title">
          <a class="home__link" href={{url}}>
            {{title}}
          </a>
        </h1>
        <a class="home__link home__featured-image-container" href={{url}}>
          <img class="home__featured-image" src={{#if feature_image}}{{feature_image}}{{else}}{{asset 'images/home__featured.jpg'}}{{/if}} />
        </a>
        <a class="home__link" href={{url}}>
          <button class="button button__solid home__button">
            Read More
          </button>
        </a>
      </div>
    {{/foreach}}
    {{/get}}
    {{#get "posts" limit="8" as |blocks|}}
      <div class="home__blocks">
        {{#foreach blocks}}
        <div class="home__block">
          <h3 class="home__block-date">
            {{date format="MMMM D, YYYY"}}
          </h3>
          <h2 class="home__block-title">
            <a class="home__link" href={{url}}>
              {{title}}
            </a>
          </h2>
          <a class="home__link home__block-image-container" href={{url}}>
            <img class="home__block-image" src={{#if feature_image}}{{feature_image}}{{else}}{{asset 'images/home__block.jpg'}}{{/if}} />
          </a>
          <a class="home__link" href={{url}}>
            <button class="button button__solid home__button">
              Read More
            </button>
          </a>
        </div>
        {{/foreach}}
      </div>
    {{/get}}
  </main>
  <footer class="home__footer">
    {{> "footer"}}
  </footer>
</section>